[Unit]
Description=Autodin Frontend Service
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/opt/qwanyx/apps/qwanyx-server/autodin/frontend
Environment="PATH=/usr/bin:/bin"
ExecStart=/usr/bin/python3 -u app_bulma.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target